body {
  background-color: lightpink;
  text-align: center;
}

h1 {
    font-size: 2em;
}

canvas {
  border: 2px solid black;
  background-color: darkred;
}

button {
    font-size: 1.3em;
    border-radius: 5px;
}

div {
    margin-right: 3%;
}

#display {
    display:flex;
    margin: 1%;
    margin-left: 2%;
}